<%- include("templates/header") %>
    <!-- Chatbot -->
    <form id="Chatter">
        <input type="text" id="question" name="chatbot" placeholder="Ask Me Anything!">
        <button type="submit">Send</button>
    </form>

    <!--Contents in the body tag-->
    <img class="title" src="/img/FitnessLogo.png" alt="logo">
    <div class="container taskCards">
        <h1>Points: <%= points %></h1>
        <div class="card">
            <div class="card-body">
                <%= task1 %>
            </div>
            <p><form method="post" action="/addPointFit"><button class="btn btn-secondary float-right" type="submit">Done</button></form><button
                    class="btn btn-secondary float-right" type="submit">Reroll</button></p>
        </div>
        <div class="card">
            <div class="card-body">
                <%= task2 %>
            </div>
            <p><form method="post" action="/addPointFit"><button class="btn btn-secondary float-right" type="submit">Done</button></form> <button
                    class="btn btn-secondary float-right" type="submit">Reroll</button></p>
        </div>
        <div class="card">
            <div class="card-body">
                <%= task3 %>
            </div>
            <p><form method="post" action="/addPointFit"><button class="btn btn-secondary float-right" type="submit">Done</button></form> <button
                    class="btn btn-secondary float-right" type="submit">Reroll</button></p>
        </div>

    </div>
    <%- include("templates/footer") %>