<%- include("templates/header") %>

  <link rel="stylesheet" type="text/css" href="/styles/main.css" text="">

  </head>

  <div id="header-top">
    <!-- <video loop="" autoplay="" muted="" playsinline="">
      <source src="/img/friendly-bot.mp4" type="video/mp4">
    </video> -->
    <div id="date">
      <svg id="calendar-icon" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7 3V4.94992C6.4828 5.09415 5.97032 5.2612 5.46404 5.45105C4.54314 5.79639 3.84054 6.55793 3.57035 7.5036L3.3285 8.35007C3.26686 8.56584 3.20959 8.78252 3.15669 9H20.8432C20.7903 8.78252 20.733 8.56584 20.6713 8.35007L20.4295 7.5036C20.1593 6.55793 19.4567 5.79639 18.5358 5.45105C18.0296 5.26122 17.5171 5.09418 17 4.94996V3H15V4.50918C13.0133 4.18477 10.9867 4.18477 9 4.50916V3H7Z"
          fill="white" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M21.204 11H2.79582C2.53151 13.2212 2.70907 15.4821 3.32851 17.6501L3.37014 17.7958C3.75983 19.1598 4.84778 20.2121 6.22393 20.5561C10.0162 21.5042 13.9836 21.5042 17.7759 20.5561C19.1521 20.2121 20.24 19.1598 20.6297 17.7958L20.6713 17.6501C21.2908 15.4821 21.4683 13.2212 21.204 11ZM6.75 13.375C6.58772 13.4561 6.45614 13.5877 6.375 13.75C6.13893 14.2221 6.13893 14.7779 6.375 15.25C6.45614 15.4123 6.58772 15.5439 6.75 15.625C7.22214 15.8611 7.77786 15.8611 8.25 15.625C8.41228 15.5439 8.54386 15.4123 8.625 15.25C8.86107 14.7779 8.86107 14.2221 8.625 13.75C8.54386 13.5877 8.41228 13.4561 8.25 13.375C7.77786 13.1389 7.22214 13.1389 6.75 13.375ZM10.875 13.75C10.9561 13.5877 11.0877 13.4561 11.25 13.375C11.7221 13.1389 12.2779 13.1389 12.75 13.375C12.9123 13.4561 13.0439 13.5877 13.125 13.75C13.3611 14.2221 13.3611 14.7779 13.125 15.25C13.0439 15.4123 12.9123 15.5439 12.75 15.625C12.2779 15.8611 11.7221 15.8611 11.25 15.625C11.0877 15.5439 10.9561 15.4123 10.875 15.25C10.6389 14.7779 10.6389 14.2221 10.875 13.75ZM15.75 13.375C15.5877 13.4561 15.4561 13.5877 15.375 13.75C15.1389 14.2221 15.1389 14.7779 15.375 15.25C15.4561 15.4123 15.5877 15.5439 15.75 15.625C16.2221 15.8611 16.7779 15.8611 17.25 15.625C17.4123 15.5439 17.5439 15.4123 17.625 15.25C17.8611 14.7779 17.8611 14.2221 17.625 13.75C17.5439 13.5877 17.4123 13.4561 17.25 13.375C16.7779 13.1389 16.2221 13.1389 15.75 13.375Z"
          fill="white" />
      </svg>
      <date id="date-display"></date>
    </div>
    <div id="hello-container">
      <div id="avatar">

      </div>
      <div id="hello-user">
        <%= greeting %>, <%= username %> <span id="rank">
              <%= rank %>, <%= points %> points
            </span>
      </div>
      <div id="health-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0903 2.69709C12.7335 2.24483 11.2577 2.2478 9.90091 2.70006C9.34472 2.88546 8.92347 3.35136 8.7985 3.92416L8.46477 5.45377C8.19513 6.68961 8.06031 7.30752 7.63731 7.72471C7.2143 8.14189 6.59457 8.26813 5.35512 8.52061L3.93705 8.80948C3.35732 8.92757 2.8845 9.34702 2.69741 9.90829C2.24515 11.2651 2.24454 12.7338 2.69681 14.0906C2.88433 14.6532 3.35892 15.0721 3.94041 15.1884L5.38518 15.4774C6.65267 15.7309 7.28641 15.8576 7.7146 16.2858C8.14279 16.714 8.26954 17.3477 8.52304 18.6152L8.81199 20.06C8.92829 20.6415 9.34725 21.1161 9.90982 21.3036C11.2666 21.7559 12.7335 21.7559 14.0903 21.3036C14.6529 21.1161 15.0718 20.6415 15.1881 20.06L15.4771 18.6152C15.7306 17.3477 15.8573 16.714 16.2855 16.2858C16.7137 15.8576 17.3475 15.7309 18.6149 15.4774L20.0597 15.1884C20.6412 15.0721 21.1158 14.6532 21.3033 14.0906C21.7556 12.7338 21.7556 11.2669 21.3033 9.91011C21.1158 9.34753 20.6412 8.92857 20.0597 8.81228L18.6149 8.52332C17.3475 8.26983 16.7137 8.14308 16.2855 7.71489C15.8573 7.2867 15.7306 6.65295 15.4771 5.38546L15.1881 3.9407C15.0718 3.35921 14.6529 2.88462 14.0903 2.69709Z"
            fill="#FF8624" />
        </svg>
      </div>
      <div id="health-metrics">90% Healthy</div>
    </div>
    <a id="notification" href="shop">
      </a>
      <svg id="notification-icon" width="32" height="32"   viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.0001 8.12303C5.0001 6.15872 3.66323 4.44649 1.75757 3.97007L2.24264 2.02979C4.62232 2.62471 6.39749 4.53307 6.87337 6.86502L7.70728 6.74589C11.2143 6.24489 14.7724 6.21368 18.2877 6.65309L19.2192 6.76953C20.8079 6.96812 22.0001 8.31863 22.0001 9.9197V10.3984C22.0001 12.2645 21.5656 14.1049 20.7311 15.774C20.0624 17.1114 18.7942 18.048 17.3194 18.2938L16.6458 18.4061C14.2246 18.8096 11.7501 18.7697 9.34316 18.2883C8.06941 18.0336 6.98462 17.205 6.40371 16.0432L6.28869 15.8132C5.44128 14.1183 5.0001 12.2495 5.0001 10.3546V8.12303Z" fill="white"/>
        <path d="M6.375 19.75C6.45614 19.5877 6.58772 19.4561 6.75 19.375C7.22214 19.1389 7.77786 19.1389 8.25 19.375C8.41228 19.4561 8.54386 19.5877 8.625 19.75C8.86107 20.2221 8.86107 20.7779 8.625 21.25C8.54386 21.4123 8.41228 21.5439 8.25 21.625C7.77786 21.8611 7.22214 21.8611 6.75 21.625C6.58772 21.5439 6.45614 21.4123 6.375 21.25C6.13893 20.7779 6.13893 20.2221 6.375 19.75Z" fill="white"/>
        <path d="M17.75 19.375C17.5877 19.4561 17.4561 19.5877 17.375 19.75C17.1389 20.2221 17.1389 20.7779 17.375 21.25C17.4561 21.4123 17.5877 21.5439 17.75 21.625C18.2221 21.8611 18.7779 21.8611 19.25 21.625C19.4123 21.5439 19.5439 21.4123 19.625 21.25C19.8611 20.7779 19.8611 20.2221 19.625 19.75C19.5439 19.5877 19.4123 19.4561 19.25 19.375C18.7779 19.1389 18.2221 19.1389 17.75 19.375Z" fill="white"/>
        </svg>
    
    
  </div>


  <!-- CAROUSEL for TASKS -->

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="todo">Fitness - To Do List</div>
        <div id="fit-task-container">

          <% if (fitTasks.length===0) { %>
            <div class="no-task">No tasks on your list</div>
            <% } else { %>
              <% fitTasks.forEach(function(task) { %>
                <div class="task-item">
                  <div class="task-icon-container">
                    <svg class="task-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 12L9 12" stroke="white" stroke-width="2" stroke-linejoin="round" />
                      <path
                        d="M15.8418 8.63261C15.9412 8.23533 16.2252 7.90991 16.6054 7.75782V7.75782C17.8216 7.27135 19.1784 7.27135 20.3946 7.75782V7.75782C20.7748 7.90991 21.0588 8.23533 21.1582 8.63261L21.2036 8.81441C21.7265 10.906 21.7265 13.094 21.2036 15.1856L21.1582 15.3674C21.0588 15.7647 20.7748 16.0901 20.3946 16.2422V16.2422C19.1784 16.7287 17.8216 16.7287 16.6054 16.2422V16.2422C16.2252 16.0901 15.9412 15.7647 15.8418 15.3674L15.7964 15.1856C15.2735 13.094 15.2735 10.906 15.7964 8.81441L15.8418 8.63261Z"
                        stroke="#FF8624" stroke-width="2" stroke-linejoin="round" />
                      <path
                        d="M2.84185 8.63261C2.94117 8.23533 3.22522 7.90991 3.60544 7.75782V7.75782C4.82164 7.27135 6.17836 7.27135 7.39456 7.75782V7.75782C7.77478 7.90991 8.05883 8.23533 8.15815 8.63261L8.2036 8.81441C8.72649 10.906 8.72649 13.094 8.2036 15.1856L8.15815 15.3674C8.05883 15.7647 7.77478 16.0901 7.39456 16.2422V16.2422C6.17836 16.7287 4.82164 16.7287 3.60544 16.2422V16.2422C3.22522 16.0901 2.94117 15.7647 2.84185 15.3674L2.7964 15.1856C2.27351 13.094 2.27351 10.906 2.7964 8.81441L2.84185 8.63261Z"
                        stroke="#FF8624" stroke-width="2" stroke-linejoin="round" />
                      <path d="M22 12H23" stroke="white" stroke-width="2" stroke-linejoin="round" />
                      <path d="M1 12H2" stroke="white" stroke-width="2" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <%= task %>
                    <div class="view-task">
                      <svg class="view-task-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M13.5691 7.15628C15.5245 10.0893 15.5245 13.9103 13.5691 16.8433C13.415 17.0746 13.1968 17.2561 12.9413 17.3656L6.60609 20.0807L7.39393 21.9189L13.7292 19.2038C14.3413 18.9415 14.8638 18.5068 15.2332 17.9527C17.6364 14.3479 17.6364 9.65168 15.2332 6.04688C14.8638 5.49278 14.3413 5.05808 13.7292 4.79576L7.39393 2.08065L6.60609 3.91895L12.9413 6.63405C13.1968 6.74354 13.415 6.92499 13.5691 7.15628Z"
                          fill="#FF8624" />
                      </svg>
                    </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="todo">Diet - To Do List</div>
        <div id="diet-task-container">
          <% if (dietTasks.length===0) { %>
            <div class="no-task">No tasks on your list</div>
            <% } else { %>
              <% dietTasks.forEach(function(task) { %>
                <div class="task-item">
                  <div class="task-icon-container">
                    <svg class="task-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 5.41421V5.87085C12 5.99079 12 6.05076 11.9949 6.10126C11.9468 6.57345 11.5734 6.9468 11.1013 6.99486C11.0508 7 10.9908 7 10.8708 7H10.4142C9.50871 7 8.64029 6.64029 8 6C7.35971 5.35971 7 4.49129 7 3.58579V3.12915C7 3.00921 7 2.94924 7.00514 2.89874C7.0532 2.42655 7.42655 2.0532 7.89874 2.00514C7.94924 2 8.00921 2 8.12915 2H8.58579C9.49129 2 10.3597 2.35971 11 3C11.6403 3.64029 12 4.50871 12 5.41421Z"
                        fill="#8D8D8D" />
                      <path
                        d="M6.47368 10.3158C6.80978 9.47555 7.47555 8.80978 8.31579 8.47369V8.47369C10.6808 7.52767 13.3192 7.52767 15.6842 8.47369V8.47369C16.5244 8.80978 17.1902 9.47555 17.5263 10.3158V10.3158C18.4723 12.6808 18.4723 15.3192 17.5263 17.6842V17.6842C17.1902 18.5244 16.5244 19.1902 15.6842 19.5263V19.5263C13.3192 20.4723 10.6808 20.4723 8.31579 19.5263V19.5263C7.47555 19.1902 6.80978 18.5244 6.47368 17.6842V17.6842C5.52767 15.3192 5.52767 12.6808 6.47368 10.3158V10.3158Z"
                        stroke="#FF8624" stroke-width="2" stroke-linejoin="round" />
                      <path d="M12 8V7.82843C12 6.01742 12.7194 4.28058 14 3V3" stroke="white" stroke-width="2"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                  <%= task %>
                    <div class="view-task">
                      <svg class="view-task-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M13.5691 7.15628C15.5245 10.0893 15.5245 13.9103 13.5691 16.8433C13.415 17.0746 13.1968 17.2561 12.9413 17.3656L6.60609 20.0807L7.39393 21.9189L13.7292 19.2038C14.3413 18.9415 14.8638 18.5068 15.2332 17.9527C17.6364 14.3479 17.6364 9.65168 15.2332 6.04688C14.8638 5.49278 14.3413 5.05808 13.7292 4.79576L7.39393 2.08065L6.60609 3.91895L12.9413 6.63405C13.1968 6.74354 13.415 6.92499 13.5691 7.15628Z"
                          fill="#FF8624" />
                      </svg>
                    </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
    </div>

  </div>

  </div>
  </div>


  <!-- AI Chat-->
  <div id="ai-chat-container"> Configure Your AI Model
    <div id="ai-chat-bg"></div>
    <span id="get-started-ai">Get Started</span>
    <!-- AI Config -->
    <p class="d-inline-flex gap-1">
      <button class="btn index-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <svg class="get-started-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.40994 4.60259L9.56599 4.6416C13.0626 5.51575 16.1078 7.66179 18.1071 10.6607C18.6478 11.4718 18.6478 12.5285 18.1071 13.3396C16.1078 16.3384 13.0626 18.4845 9.56599 19.3586L9.40994 19.3976C8.07899 19.7304 6.7303 18.9212 6.39756 17.5902L6.20004 16.8001C5.41216 13.6486 5.41216 10.3516 6.20004 7.20011L6.39756 6.41001C6.7303 5.07906 8.07899 4.26985 9.40994 4.60259Z"
            fill="white" />
        </svg>
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div id="topic">
          Topic Name
          <div id="browse-file">
            <svg id="browse-file-icon" width="28" height="28" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17.871 5.87097L15.2485 3.24845C15.0851 3.08506 14.8859 2.96196 14.6667 2.88889C12.913 2.30433 11.0473 2.1361 9.21734 2.39752L7.0362 2.70911C5.83754 2.88035 4.90657 3.84087 4.77286 5.04429L4.6325 6.30748C4.58903 6.69875 4.56729 6.89439 4.54721 7.08966C4.21145 10.3546 4.21145 13.6454 4.54721 16.9103C4.56729 17.1056 4.58903 17.3012 4.6325 17.6925L4.68453 18.1607C4.87024 19.8321 6.16323 21.1662 7.82802 21.404C10.5953 21.7993 13.4374 21.7947 16.2047 21.3993C17.8483 21.1645 19.1614 19.87 19.3962 18.2264C19.7967 15.423 19.7967 12.577 19.3962 9.77359L19.2258 8.58065C19.189 8.32292 19.1706 8.19406 19.1446 8.06959C19.0034 7.39177 18.6886 6.76222 18.2311 6.24253C18.1471 6.1471 18.0551 6.05505 17.871 5.87097Z"
                stroke="gray" stroke-width="2" stroke-linejoin="round" />
              <path d="M8 12L16 12" stroke="gray" stroke-width="2" stroke-linejoin="round" />
              <path d="M8 16L14 16" stroke="gray" stroke-width="2" stroke-linejoin="round" />
              <path d="M14 3V4C14 5.88562 14 6.82843 14.5858 7.41421C15.1716 8 16.1144 8 18 8H19" stroke="gray"
                stroke-width="2" stroke-linejoin="round" />
            </svg>
          </div>
          <form id="topic-form"></form>
          <input id="topic-input" type="text" name="topic-input" placeholder="What topic are you interested in?">
          </form>
          <div id="pencil">
            <svg id="pencil-icon" width="28" height="28" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.6918 2.42005C15.0611 1.44197 16.8714 1.3179 18.3644 2.06443C19.8934 2.82892 21.1579 4.08002 21.9255 5.61517C22.6895 7.14311 22.5132 8.97324 21.4716 10.3273L21.1541 10.7401L13.1914 2.77747L13.6918 2.42005Z"
                fill="gray" />
              <path
                d="M11.5667 3.98112C9.08944 5.92847 6.89982 8.22005 5.06533 10.7883L4.39973 11.7202C3.48938 12.9947 3.00001 14.5217 3.00001 16.088L3 18.1441C2.99997 18.4396 2.99994 18.7222 3.02047 18.9583C3.04264 19.2132 3.09517 19.5201 3.2673 19.8187C3.49936 20.2212 3.86436 20.5304 4.29959 20.6931C4.6224 20.8138 4.9337 20.8152 5.18882 20.7952C5.42509 20.7766 5.7038 20.7301 5.99533 20.6815L8.80938 20.2125C9.83737 20.0412 10.8197 19.6621 11.6963 19.0986L13.2334 18.1104C15.7257 16.5082 17.9688 14.553 19.8937 12.3081L11.5667 3.98112Z"
                fill="gray" />
            </svg>
          </div>
        </div>

        <div id="ai-model">
          <div id="robot">
            <svg id="robot-icon" width="28" height="28" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.41691 6.57289L7.18647 6.60169C5.29595 6.83801 3.78529 8.28827 3.47207 10.1676C3.15951 12.0429 3.15951 13.9571 3.47207 15.8324C3.78529 17.7117 5.29595 19.162 7.18647 19.3983L7.41691 19.4271C10.4605 19.8076 13.5395 19.8076 16.5831 19.4271L16.8135 19.3983C18.704 19.162 20.2147 17.7117 20.5279 15.8324C20.8405 13.9571 20.8405 12.0429 20.5279 10.1676C20.2147 8.28827 18.704 6.83801 16.8135 6.60169L16.5831 6.57289C13.5395 6.19244 10.4605 6.19244 7.41691 6.57289Z"
                stroke="black" stroke-width="2" stroke-linejoin="round" />
              <path
                d="M7.375 12.75C7.45614 12.5877 7.58772 12.4561 7.75 12.375V12.375C8.22214 12.1389 8.77786 12.1389 9.25 12.375V12.375C9.41228 12.4561 9.54386 12.5877 9.625 12.75V12.75C9.86107 13.2221 9.86107 13.7779 9.625 14.25V14.25C9.54386 14.4123 9.41228 14.5439 9.25 14.625V14.625C8.77786 14.8611 8.22214 14.8611 7.75 14.625V14.625C7.58772 14.5439 7.45614 14.4123 7.375 14.25V14.25C7.13893 13.7779 7.13893 13.2221 7.375 12.75V12.75Z"
                fill="black" />
              <path
                d="M14.375 12.75C14.4561 12.5877 14.5877 12.4561 14.75 12.375V12.375C15.2221 12.1389 15.7779 12.1389 16.25 12.375V12.375C16.4123 12.4561 16.5439 12.5877 16.625 12.75V12.75C16.8611 13.2221 16.8611 13.7779 16.625 14.25V14.25C16.5439 14.4123 16.4123 14.5439 16.25 14.625V14.625C15.7779 14.8611 15.2221 14.8611 14.75 14.625V14.625C14.5877 14.5439 14.4561 14.4123 14.375 14.25V14.25C14.1389 13.7779 14.1389 13.2221 14.375 12.75V12.75Z"
                fill="black" />
              <path d="M21 13H23" stroke="black" stroke-width="2" stroke-linejoin="round" />
              <path d="M1 13L3 13" stroke="black" stroke-width="2" stroke-linejoin="round" />
              <path
                d="M7 7L7.81253 8.2188C8.39382 9.09073 8.68447 9.5267 9.12665 9.76335C9.56884 10 10.0928 10 11.1407 10H12.8593C13.9072 10 14.4312 10 14.8733 9.76335C15.3155 9.5267 15.6062 9.09073 16.1875 8.2188L17 7"
                stroke="black" stroke-width="2" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="ai-model-selection">
            <div id="label" for="ai-model-name">AI Models</div>
            <select name="ai-model-name" id="ai-model-name">
              <option id="google-gemma" value="google-gemma">gemma-7b-it</option>
              <option id="meta-llama3-70b" value="meta-llama3-70b">llama3-70b-8192</option>
              <option id="meta-llama3-8b" value="meta-llama3-8b">llama3-8b-8192</option>
              <option id="mixtral" value="mixtral">mixtral-8x7b-32768</option>
            </select>
          </div>
          <div id="drop-down">
            <svg id="drop-down-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18 9L16.2857 12.4286C16.1003 12.7995 15.7995 13.1003 15.4286 13.2857V13.2857C13.2702 14.3649 10.7298 14.3649 8.57143 13.2857V13.2857C8.20051 13.1003 7.89975 12.7995 7.71429 12.4286L6 9"
                stroke="black" stroke-width="2" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div id="llm-range">
          <label id="llm-range-label" for="llm-range-value" class="form-label accent">LLM Range</label><br>
          <input id="llm-range-value" type="range" class="form-range" name="llm-range-value">
          <div id="tensor">tensor/mx</div>
        </div>

        <div id="topic-icons">
          <p id='topic-selection'>Topic Selection</p>
          <div id="btm-nav-container">
            <div id="weight-ai">
              <svg id="weight-ai-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.51706 10.6554C6.19086 10.8729 5.78252 10.9275 5.41058 10.8036C3.89312 10.2977 2.70237 9.10699 2.19655 7.58953C2.07257 7.2176 2.12726 6.80926 2.34473 6.48305L2.46829 6.29772C2.78795 5.81823 3.13662 5.36025 3.51194 4.92615L2.29295 3.70717L3.70717 2.29295L4.92615 3.51194C5.36025 3.13662 5.81823 2.78795 6.29772 2.46829L6.48305 2.34473C6.80926 2.12726 7.2176 2.07257 7.58953 2.19655C9.10699 2.70237 10.2977 3.89312 10.8036 5.41058C10.9275 5.78252 10.8729 6.19085 10.6554 6.51706L10.5318 6.7024C10.2122 7.18189 9.86349 7.63987 9.48818 8.07396L14.9488 13.5346C15.47 13.0761 16.0223 12.6519 16.6023 12.2652L16.7134 12.1912C16.8943 12.0706 17.1207 12.0403 17.3269 12.109C19.0097 12.6699 20.3302 13.9904 20.8911 15.6732C20.9599 15.8794 20.9295 16.1059 20.8089 16.2867L20.7349 16.3978C20.3482 16.9779 19.924 17.5301 19.4656 18.0513L20.7072 19.2929L19.293 20.7072L18.0513 19.4655C17.5301 19.924 16.9779 20.3482 16.3978 20.7349L16.2867 20.8089C16.1059 20.9295 15.8794 20.9599 15.6732 20.8911C13.9904 20.3302 12.6699 19.0097 12.109 17.3269C12.0403 17.1207 12.0706 16.8943 12.1912 16.7134L12.2652 16.6023C12.6519 16.0223 13.0761 15.47 13.5346 14.9488L8.07396 9.48818C7.63987 9.86349 7.18189 10.2122 6.7024 10.5318L6.51706 10.6554Z"
                  fill="black" />
              </svg>
            </div>
            <div id="walking">
              <svg id="walking-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5 1.8333C12.1852 1.93822 11.9383 2.18521 11.8333 2.49996C11.617 3.14908 11.617 3.85085 11.8333 4.49996C11.9383 4.81472 12.1852 5.06171 12.5 5.16663C13.1491 5.383 13.8509 5.383 14.5 5.16663C14.8148 5.06171 15.0617 4.81472 15.1667 4.49996C15.383 3.85085 15.383 3.14908 15.1667 2.49996C15.0617 2.18521 14.8148 1.93822 14.5 1.8333C13.8509 1.61693 13.1491 1.61693 12.5 1.8333Z"
                  fill="black" />
                <path
                  d="M7.27626 21.6089C7.22869 21.8485 7.32115 22.0943 7.51482 22.2431L7.58635 22.298C8.09574 22.6895 8.82379 22.6063 9.23178 22.1101C9.29124 22.0378 9.3328 21.9525 9.35311 21.8611L10.9 14.9001L12.2121 15.8998C12.5988 16.1944 12.7922 16.3418 12.8961 16.5515C13 16.7613 13 17.0044 13 17.4906V21.7574C13 21.9128 13.0617 22.0618 13.1716 22.1717C13.6291 22.6292 14.3709 22.6292 14.8284 22.1717C14.9383 22.0618 15 21.9128 15 21.7574V17.2144C15 16.3693 15 15.9467 14.8383 15.5694C14.6766 15.1921 14.3706 14.9006 13.7586 14.3178L12.9 13.5001L13.525 10.4251C14.175 11.1751 14.9583 11.7917 15.875 12.2751C16.6784 12.6987 17.5777 12.9366 18.5731 12.989C18.8345 13.0028 19.0739 12.8522 19.191 12.6181C19.3855 12.2291 19.3855 11.7711 19.191 11.3821C19.0739 11.148 18.8343 11.0039 18.5733 10.9844C17.7948 10.9263 17.0912 10.7066 16.4625 10.3251C15.7208 9.87508 15.1333 9.30008 14.7 8.60008L13.7 7.00008C13.5667 6.76675 13.3958 6.57508 13.1875 6.42508C12.9792 6.27508 12.7583 6.15841 12.525 6.07508C12.2917 5.99175 12.0458 5.95841 11.7875 5.97508C11.5292 5.99175 11.2833 6.05008 11.05 6.15008L8.43312 7.26419C7.25322 7.76653 6.66327 8.0177 6.33164 8.51933C6 9.02096 6 9.66215 6 10.9445V12.573C6 12.8348 6.14787 13.074 6.38196 13.1911C6.77102 13.3856 7.22898 13.3856 7.61804 13.1911C7.85213 13.074 8 12.8348 8 12.573V10.9682C8 10.306 8 9.97484 8.17464 9.71954C8.34928 9.46425 8.65789 9.34423 9.27511 9.1042L9.8 8.90008L7.27626 21.6089Z"
                  fill="black" />
              </svg>
            </div>
            <div id="running">
              <svg id="running-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5 1.8333C12.1852 1.93822 11.9383 2.18521 11.8333 2.49996C11.617 3.14908 11.617 3.85085 11.8333 4.49996C11.9383 4.81472 12.1852 5.06171 12.5 5.16663C13.1491 5.383 13.8509 5.383 14.5 5.16663C14.8148 5.06171 15.0618 4.81472 15.1667 4.49996C15.383 3.85085 15.383 3.14908 15.1667 2.49996C15.0618 2.18521 14.8148 1.93822 14.5 1.8333C13.8509 1.61693 13.1491 1.61693 12.5 1.8333Z"
                  stroke="white" />
                <path
                  d="M13 22.0729C13 22.3346 13.1479 22.5739 13.382 22.6909C13.771 22.8855 14.229 22.8855 14.618 22.6909C14.8521 22.5739 15 22.3346 15 22.0729V17.2143C15 16.3691 15 15.9466 14.8383 15.5693C14.6766 15.1919 14.3706 14.9005 13.7586 14.3177L12.9 13.5L13.5 10.5C14.15 11.25 14.9542 11.8541 15.9125 12.3125C16.7458 12.711 17.6327 12.9363 18.5731 12.9883C18.8345 13.0027 19.0739 12.8521 19.191 12.618C19.3855 12.2289 19.3855 11.771 19.191 11.3819C19.0739 11.1478 18.8343 11.0038 18.5733 10.9843C17.7948 10.9262 17.0912 10.7064 16.4625 10.325C15.7208 9.87496 15.1333 9.29996 14.7 8.59996L13.7 6.99996C13.5167 6.69996 13.275 6.4583 12.975 6.27496C12.675 6.09163 12.35 5.99996 12 5.99996C11.7667 5.99996 11.5125 6.03747 11.2375 6.11246C10.9625 6.18746 10.5333 6.34996 9.95 6.59996L8.22668 7.34165C7.24242 7.76525 6.7503 7.97705 6.43813 8.36734C6.36109 8.46367 6.29312 8.56692 6.2351 8.67577C6 9.1168 6 9.65257 6 10.7241V12.5729C6 12.8346 6.14788 13.0739 6.38197 13.1909C6.77103 13.3855 7.22898 13.3855 7.61804 13.1909C7.85213 13.0739 8 12.8346 8 12.5729V10.8112C8 10.3028 8 10.0486 8.10501 9.83794C8.14599 9.75574 8.19809 9.67957 8.25986 9.61158C8.41816 9.43735 8.65508 9.34521 9.12893 9.16094L9.8 8.89996L8.59162 15.0174C8.40717 15.9512 8.31495 16.418 7.96713 16.6485C7.6193 16.879 7.15341 16.7819 6.22162 16.5878L3.79067 16.0814C3.54878 16.031 3.29834 16.1129 3.13305 16.2966L3.05094 16.3878C2.71858 16.7571 2.64612 17.2922 2.86832 17.7366C2.95143 17.9028 3.10644 18.0216 3.28858 18.0585L6.07015 18.6229C7.87913 18.9899 8.78362 19.1735 9.46804 18.7313C10.1525 18.2892 10.357 17.3892 10.7661 15.5893L10.9 15L12.3793 16.4088C12.6853 16.7002 12.8383 16.846 12.9191 17.0346C13 17.2233 13 17.4346 13 17.8571V22.0729Z"
                  stroke="white" />
              </svg>
            </div>
            <div id="cycling">
              <svg id="cycling-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14 2.3333C13.6852 2.43822 13.4383 2.68521 13.3333 2.99996C13.117 3.64908 13.117 4.35085 13.3333 4.99996C13.4383 5.31472 13.6852 5.56171 14 5.66663C14.6491 5.883 15.3509 5.883 16 5.66663C16.3148 5.56171 16.5617 5.31472 16.6667 4.99996C16.883 4.35085 16.883 3.64908 16.6667 2.99996C16.5617 2.68521 16.3148 2.43822 16 2.3333C15.3509 2.11693 14.6491 2.11693 14 2.3333Z"
                  fill="black" />
                <path
                  d="M14 9.89996L13.2 9.09997L10.8 11.5L11.8905 12.6401C12.4383 13.2128 12.7122 13.4992 12.8561 13.8577C13 14.2162 13 14.6125 13 15.405V19.7573C13 19.9127 12.9382 20.0617 12.8284 20.1715C12.3709 20.6291 11.6291 20.6291 11.1715 20.1715C11.0617 20.0617 11 19.9127 11 19.7573V15.9075C11 15.4608 11 15.2375 10.9106 15.0405C10.8212 14.8436 10.6531 14.6965 10.317 14.4024L7.79995 12.2C7.39995 11.9 7.19995 11.4 7.19995 10.8C7.19995 10.3 7.39995 9.79996 7.79995 9.39996L10.6 6.59996C10.9 6.19996 11.4 5.99996 12 5.99996C12.6 5.99996 13.1 6.19996 13.6 6.59996L15.5 8.49996C16.3509 9.35088 17.47 9.93363 18.8572 9.99466C19.0124 10.0015 19.1617 10.0617 19.2715 10.1715C19.7291 10.6291 19.7291 11.3709 19.2715 11.8284C19.1617 11.9382 19.0124 12.001 18.8571 11.9964C16.8685 11.9371 15.2495 11.1495 14 9.89996Z"
                  fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.0193 16.6079C14 16.8035 14 17.0356 14 17.5C14 17.9643 14 18.1965 14.0193 18.392C14.2063 20.2911 15.7088 21.7937 17.6079 21.9807C17.8035 22 18.0357 22 18.5 22C18.9643 22 19.1965 22 19.3921 21.9807C21.2912 21.7937 22.7937 20.2911 22.9807 18.392C23 18.1965 23 17.9643 23 17.5C23 17.0356 23 16.8035 22.9807 16.6079C22.7937 14.7088 21.2912 13.2063 19.3921 13.0192C19.1965 13 18.9643 13 18.5 13C18.0357 13 17.8035 13 17.6079 13.0192C15.7088 13.2063 14.2063 14.7088 14.0193 16.6079ZM17.804 19.9903C17.8771 19.9975 17.9881 20 18.5 20C19.0119 20 19.1229 19.9975 19.196 19.9903C20.1456 19.8968 20.8968 19.1456 20.9904 18.196C20.9976 18.1229 21 18.0119 21 17.5C21 16.988 20.9976 16.8771 20.9904 16.8039C20.8968 15.8544 20.1456 15.1031 19.196 15.0096C19.1229 15.0024 19.0119 15 18.5 15C17.9881 15 17.8771 15.0024 17.804 15.0096C16.8544 15.1031 16.1032 15.8544 16.0096 16.8039C16.0024 16.8771 16 16.988 16 17.5C16 18.0119 16.0024 18.1229 16.0096 18.196C16.1032 19.1456 16.8544 19.8968 17.804 19.9903Z"
                  fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1 17.5C1 17.0356 1 16.8035 1.01926 16.6079C1.20631 14.7088 2.70882 13.2063 4.60793 13.0192C4.80349 13 5.03566 13 5.5 13C5.96434 13 6.19651 13 6.39207 13.0192C8.29118 13.2063 9.79369 14.7088 9.98074 16.6079C10 16.8035 10 17.0356 10 17.5C10 17.9643 10 18.1965 9.98074 18.392C9.79369 20.2911 8.29118 21.7937 6.39207 21.9807C6.19651 22 5.96434 22 5.5 22C5.03566 22 4.80349 22 4.60793 21.9807C2.70882 21.7937 1.20631 20.2911 1.01926 18.392C1 18.1965 1 17.9643 1 17.5ZM5.5 20C4.98807 20 4.8771 19.9975 4.80397 19.9903C3.85441 19.8968 3.10315 19.1456 3.00963 18.196C3.00243 18.1229 3 18.0119 3 17.5C3 16.988 3.00243 16.8771 3.00963 16.8039C3.10315 15.8544 3.85441 15.1031 4.80397 15.0096C4.8771 15.0024 4.98807 15 5.5 15C6.01193 15 6.1229 15.0024 6.19603 15.0096C7.14559 15.1031 7.89685 15.8544 7.99037 16.8039C7.99757 16.8771 8 16.988 8 17.5C8 18.0119 7.99757 18.1229 7.99037 18.196C7.89685 19.1456 7.14559 19.8968 6.19603 19.9903C6.1229 19.9975 6.01193 20 5.5 20Z"
                  fill="black" />
              </svg>
            </div>
            <div id="hiking">
              <svg id="hiking-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 1.3333C11.6852 1.43822 11.4383 1.68521 11.3333 1.99996C11.117 2.64908 11.117 3.35085 11.3333 3.99996C11.4383 4.31472 11.6852 4.56171 12 4.66663C12.6491 4.883 13.3509 4.883 14 4.66663C14.3148 4.56171 14.5617 4.31472 14.6667 3.99996C14.883 3.35085 14.883 2.64908 14.6667 1.99996C14.5617 1.68521 14.3148 1.43822 14 1.3333C13.3509 1.11693 12.6491 1.11693 12 1.3333Z"
                  fill="black" />
                <path
                  d="M14.7 8.59997C15.28 9.60997 16.27 10.41 17.5 10.78V9.24996C17.5 9.08769 17.5527 8.92979 17.65 8.79996C17.95 8.39996 18.55 8.39996 18.85 8.79996C18.9474 8.92979 19 9.08769 19 9.24997L19 21.8611C19 21.9512 18.9708 22.0389 18.9167 22.1111C18.5834 22.5555 17.9167 22.5555 17.5834 22.1111C17.5293 22.039 17.5 21.9512 17.5 21.8611V12.84C15.91 12.51 14.5 11.65 13.5 10.5L12.9 13.5L13.7587 14.3177C14.3706 14.9005 14.6766 15.1919 14.8383 15.5693C15 15.9466 15 16.3691 15 17.2143V21.7573C15 21.9127 14.9383 22.0617 14.8285 22.1715C14.3709 22.6291 13.6291 22.6291 13.1716 22.1715C13.0618 22.0617 13 21.9127 13 21.7573V17.8571C13 17.4346 13 17.2233 12.9192 17.0346C12.8383 16.846 12.6853 16.7002 12.3794 16.4088L10.9 15L9.35634 21.8609C9.33577 21.9523 9.29396 22.0376 9.23431 22.1099C8.82467 22.6064 8.09537 22.6892 7.58485 22.2972L7.51451 22.2432C7.3205 22.0942 7.22725 21.8507 7.27469 21.6107C8.00077 17.9382 9.92614 8.20136 10.08 7.43996C10.27 6.49996 11.08 5.99996 11.86 5.99996C12.59 5.99996 13.29 6.34996 13.7 6.99996L14.7 8.59997Z"
                  fill="black" />
                <path
                  d="M6.46099 12.9426C7.01654 13.05 7.56628 12.7314 7.74931 12.196C8.24774 10.7379 8.55839 9.22227 8.67375 7.68567L8.73022 6.93364C8.75866 6.55483 8.49983 6.21441 8.12721 6.14052L7.62004 6.03996C6.54004 5.82996 5.49004 6.53996 5.28004 7.61996L4.52004 11.55C4.41004 12.09 4.77004 12.61 5.31004 12.72L6.46099 12.9426Z"
                  fill="black" />
              </svg>

            </div>
            <div id="karate">
              <svg id="karate-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.4599 2.27798C19.6607 2.11391 19.9465 2.10465 20.1575 2.25537C20.383 2.41646 20.5698 2.62572 20.7044 2.86798L20.7471 2.9448C20.897 3.21459 20.8509 3.55093 20.6339 3.77044L12.5 12L12.0145 21.7114C12.0052 21.8972 11.9272 22.0729 11.7957 22.2044C11.3562 22.6438 10.6427 22.6427 10.2033 22.2033C10.0726 22.0726 9.99435 21.898 9.9841 21.7134L9.50002 13L6.32002 11.18L6.16928 11.74C6.07079 12.1058 6.02154 12.2887 6.04056 12.4728C6.05958 12.6568 6.14518 12.8258 6.31639 13.1637L7.38608 15.2752C7.45873 15.4186 7.46806 15.5875 7.41295 15.7385C7.24726 16.1925 6.81348 16.5 6.33018 16.5C6.12569 16.5 5.93656 16.3915 5.83344 16.2149L4.57396 14.0582C4.2411 13.4882 4.07466 13.2032 4.00755 12.8905C3.98446 12.783 3.97029 12.6737 3.96517 12.5638C3.9503 12.2444 4.03851 11.9263 4.21494 11.2903C4.55731 10.056 4.7285 9.4389 5.06866 8.91853C5.18573 8.73945 5.31696 8.57005 5.46112 8.41197C5.88002 7.95259 6.43481 7.63266 7.54441 6.99281L9.7236 5.73616C10.1355 5.49863 10.3415 5.37986 10.4009 5.19739C10.4199 5.13903 10.428 5.07766 10.4248 5.01636C10.4147 4.82473 10.2466 4.65661 9.91037 4.32039L8.41367 2.82369C8.16858 2.5786 8.11481 2.20111 8.2817 1.89734C8.42426 1.63785 8.63778 1.42432 8.89727 1.28176C9.20106 1.11485 9.5786 1.16862 9.8237 1.41372L11.0842 2.67424C12.0484 3.63839 12.5304 4.12046 12.6679 4.64415C12.8007 5.15009 12.7299 5.68791 12.4709 6.14233C12.2027 6.61269 11.6124 6.95376 10.4318 7.63589L10.39 7.66004L11.6 8.70004L19.4599 2.27798Z"
                  fill="black" />
                <path
                  d="M3.99996 3.33337C3.68521 3.43829 3.43822 3.68528 3.3333 4.00004C3.11693 4.64915 3.11693 5.35093 3.3333 6.00004C3.43822 6.3148 3.68521 6.56179 3.99996 6.66671C4.64908 6.88308 5.35085 6.88308 5.99996 6.66671C6.31472 6.56179 6.56171 6.3148 6.66663 6.00004C6.883 5.35093 6.883 4.64915 6.66663 4.00004C6.56171 3.68528 6.31472 3.43829 5.99996 3.33337C5.35085 3.117 4.64908 3.117 3.99996 3.33337Z"
                  fill="black" />
              </svg>
            </div>
            <div id="skating">
              <svg id="skating-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.3333 1.99996C14.4382 1.68521 14.6852 1.43822 15 1.3333C15.6491 1.11693 16.3508 1.11693 17 1.3333C17.3147 1.43822 17.5617 1.68521 17.6666 1.99996C17.883 2.64908 17.883 3.35085 17.6666 3.99996C17.5617 4.31472 17.3147 4.56171 17 4.66663C16.3508 4.883 15.6491 4.883 15 4.66663C14.6852 4.56171 14.4382 4.31472 14.3333 3.99996C14.1169 3.35085 14.1169 2.64908 14.3333 1.99996Z"
                  fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.0732 11.9861C19.3344 12.0031 19.5739 11.8521 19.6909 11.618C19.8855 11.2289 19.8855 10.771 19.6909 10.3819C19.5739 10.1478 19.3339 10.0046 19.0734 9.97928C17.4505 9.82132 16.0441 8.77235 15.4 7.29996L14.8 6.09996C14.7 5.59996 14.1 4.99996 13.2 4.99996H9.71695C8.63316 4.99996 8.09126 4.99996 7.63891 5.25068C7.18656 5.50139 6.89936 5.96092 6.32495 6.87997L5.1972 8.68437C5.07468 8.8804 5.06301 9.12607 5.16639 9.33284C5.37353 9.74712 5.78167 10.0234 6.24325 10.0619L6.27516 10.0646C6.53563 10.0863 6.78612 9.95938 6.9227 9.73653L8.01471 7.95484C8.30069 7.48824 8.44368 7.25494 8.67134 7.12745C8.899 6.99996 9.17264 6.99996 9.71991 6.99996H11L8.49995 10.8C8.19995 11.3 8.09995 11.9 8.29995 12.5L9.26902 15.5563C9.43088 16.0667 9.51181 16.322 9.46253 16.573C9.41325 16.824 9.24183 17.0297 8.89901 17.4411L7.60356 18.9956C6.13946 18.9392 4.747 18.3328 3.70706 17.2929L2.29285 18.7071C3.76096 20.1752 5.75215 21 7.82838 21H16.1715C18.2478 21 20.2389 20.1752 21.7071 18.7071L20.2928 17.2929C19.2775 18.3082 17.926 18.9103 16.5 18.9907V16.7115C16.5 15.6303 16.5 15.0897 16.2502 14.638C16.0005 14.1864 15.5427 13.8989 14.627 13.3239L12.2 11.8L14 8.89996C15.0315 10.6818 16.9425 11.8479 19.0732 11.9861ZM14.5 19V17.0051C14.5 16.4648 14.5 16.1946 14.3752 15.9689C14.2505 15.7432 14.0218 15.5994 13.5643 15.3118L11 13.7L11.3564 14.8761C11.671 15.9143 11.8283 16.4334 11.7192 16.9395C11.6101 17.4455 11.2529 17.8537 10.5386 18.6701L10.25 19H14.5Z"
                  fill="black" />
                <path
                  d="M4.37495 21.75C4.45609 21.5877 4.58768 21.4561 4.74995 21.375C5.22209 21.1389 5.77782 21.1389 6.24995 21.375C6.41223 21.4561 6.54381 21.5877 6.62495 21.75C6.86102 22.2221 6.86102 22.7778 6.62495 23.25C6.54381 23.4122 6.41223 23.5438 6.24995 23.625C5.77782 23.861 5.22209 23.861 4.74995 23.625C4.58768 23.5438 4.45609 23.4122 4.37495 23.25C4.13889 22.7778 4.13889 22.2221 4.37495 21.75Z"
                  fill="black" />
                <path
                  d="M17.75 21.375C17.5877 21.4561 17.4561 21.5877 17.375 21.75C17.1389 22.2221 17.1389 22.7778 17.375 23.25C17.4561 23.4122 17.5877 23.5438 17.75 23.625C18.2221 23.861 18.7778 23.861 19.25 23.625C19.4122 23.5438 19.5438 23.4122 19.625 23.25C19.861 22.7778 19.861 22.2221 19.625 21.75C19.5438 21.5877 19.4122 21.4561 19.25 21.375C18.7778 21.1389 18.2221 21.1389 17.75 21.375Z"
                  fill="black" />
              </svg>
            </div>
          </div>
        </div>

        <div id="preferred-name">
          <div id="name">
            Preferred Name
            <div id="user-ai">
              <svg id="user-ai-icon" width="28" height="28" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 18.167C4 18.2304 4 18.2621 4.00076 18.2897C4.02747 19.2561 4.74159 20.065 5.6972 20.2114C5.72451 20.2156 5.75596 20.2195 5.81887 20.2274V20.2274C6.04594 20.2557 6.15948 20.2699 6.27269 20.2835C10.0772 20.7408 13.9228 20.7408 17.7273 20.2835C17.8405 20.2699 17.9541 20.2557 18.1811 20.2274V20.2274C18.244 20.2195 18.2755 20.2156 18.3028 20.2114C19.2584 20.065 19.9725 19.2561 19.9992 18.2897C20 18.2621 20 18.2304 20 18.167V17.3057C20 15.9188 19.1397 14.6774 17.8411 14.1904V14.1904C14.0751 12.7782 9.92491 12.7782 6.15888 14.1904V14.1904C4.8603 14.6774 4 15.9188 4 17.3057V18.167Z"
                  stroke="black" stroke-width="2" stroke-linejoin="round" />
                <path
                  d="M8.57143 5.28571C8.84122 4.47634 9.47634 3.84122 10.2857 3.57143V3.57143C11.3985 3.20051 12.6015 3.20051 13.7143 3.57143V3.57143C14.5237 3.84122 15.1588 4.47634 15.4286 5.28571V5.28571C15.7995 6.39848 15.7995 7.60152 15.4286 8.71429V8.71429C15.1588 9.52366 14.5237 10.1588 13.7143 10.4286V10.4286C12.6015 10.7995 11.3985 10.7995 10.2857 10.4286V10.4286C9.47634 10.1588 8.84122 9.52366 8.57143 8.71429V8.71429C8.20051 7.60152 8.20051 6.39848 8.57143 5.28571V5.28571Z"
                  stroke="black" stroke-width="2" stroke-linejoin="round" />
              </svg>
            </div>
            <form id="preferred-name-form"></form>
            <input id="name-input" type="text" name="name-input" placeholder="How would you like to be addressed?">
            </form>
            <div id="pencil-1">
              <svg id="pencil-icon-1" width="28" height="28" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.6918 2.42005C15.0611 1.44197 16.8714 1.3179 18.3644 2.06443C19.8934 2.82892 21.1579 4.08002 21.9255 5.61517C22.6895 7.14311 22.5132 8.97324 21.4716 10.3273L21.1541 10.7401L13.1914 2.77747L13.6918 2.42005Z"
                  fill="gray" />
                <path
                  d="M11.5667 3.98112C9.08944 5.92847 6.89982 8.22005 5.06533 10.7883L4.39973 11.7202C3.48938 12.9947 3.00001 14.5217 3.00001 16.088L3 18.1441C2.99997 18.4396 2.99994 18.7222 3.02047 18.9583C3.04264 19.2132 3.09517 19.5201 3.2673 19.8187C3.49936 20.2212 3.86436 20.5304 4.29959 20.6931C4.6224 20.8138 4.9337 20.8152 5.18882 20.7952C5.42509 20.7766 5.7038 20.7301 5.99533 20.6815L8.80938 20.2125C9.83737 20.0412 10.8197 19.6621 11.6963 19.0986L13.2334 18.1104C15.7257 16.5082 17.9688 14.553 19.8937 12.3081L11.5667 3.98112Z"
                  fill="gray" />
              </svg>
            </div>
          </div>
        </div>
        <div id="start-chat-container">
          Start
          <div id="start-chat">
            <svg id="start-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.4472 4.10547L17.7199 6.74183L17.2848 7.61209L17.7199 6.74183C18.3855 7.07464 18.9253 7.61435 19.2581 8.27996C20.4289 10.6217 20.4289 13.3781 19.2581 15.7198C18.9253 16.3854 18.3855 16.9252 17.7199 17.258L12.4472 19.8943L11.5528 18.1055L16.8255 15.4691C17.1041 15.3298 17.3299 15.104 17.4692 14.8254C17.7603 14.2433 17.9561 13.6274 18.0566 12.9999H4V10.9999H18.0566C17.9561 10.3724 17.7603 9.75652 17.4692 9.17438C17.3299 8.89583 17.1041 8.66996 16.8255 8.53069L17.2727 7.63626L16.8255 8.53069L11.5528 5.89432L12.4472 4.10547Z"
                fill="#FF8624" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="training-plan">Training Plan & AI Recommendation</div>
  <div id="training-card-container" class="card-container carousel slide pointer-event" data-bs-ride="carousel">
      <div id="ai-rec-initiate" class="training-card">
        <!-- Card 1 content -->
        <h2 class="training-plan-text">Get Started</h2>
        <div id="start-training-plan">
          <svg class="start-training-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.40994 4.60259L9.56599 4.6416C13.0626 5.51575 16.1078 7.66179 18.1071 10.6607C18.6478 11.4718 18.6478 12.5285 18.1071 13.3396C16.1078 16.3384 13.0626 18.4845 9.56599 19.3586L9.40994 19.3976C8.07899 19.7304 6.7303 18.9212 6.39756 17.5902L6.20004 16.8001C5.41216 13.6486 5.41216 10.3516 6.20004 7.20011L6.39756 6.41001C6.7303 5.07906 8.07899 4.26985 9.40994 4.60259Z"
              fill="white" />
          </svg>
        </div>
      </div>
      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Chest Exercise</h2>
        <div id="chest" class="body-part">
        </div>
      </div>
      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Back Exercise</h2>
        <div id="back" class="body-part"></div>
      </div>
      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Light Cardio</h2>
        <div id="light-cardio" class="body-part"></div>
      </div>

      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Intensive Cardio</h2>
        <div id="intensive-cardio" class="body-part"></div>
      </div>
      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Boxing - Basics</h2>
        <div id="basic-boxing" class="body-part"></div>
      </div>
      <div class="training-card individual-plan">
        <!-- Card 2 content -->
        <h2>Agility Training</h2>
        <div id="agility" class="body-part"></div>
      </div>
  </div>

  <div id="diet-nutrition">Diet & Nutrition</div>
  <div id="diet-card-container" class="card-container carousel slide pointer-event" data-bs-ride="carousel">
    <div id="diet-rec-initiate" class="training-card">
      <!-- Card 1 content -->
      <h2 class="training-plan-text">Get Started</h2>
      <div id="start-diet-plan">
        <svg class="start-training-icon" width="32" height="32" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.40994 4.60259L9.56599 4.6416C13.0626 5.51575 16.1078 7.66179 18.1071 10.6607C18.6478 11.4718 18.6478 12.5285 18.1071 13.3396C16.1078 16.3384 13.0626 18.4845 9.56599 19.3586L9.40994 19.3976C8.07899 19.7304 6.7303 18.9212 6.39756 17.5902L6.20004 16.8001C5.41216 13.6486 5.41216 10.3516 6.20004 7.20011L6.39756 6.41001C6.7303 5.07906 8.07899 4.26985 9.40994 4.60259Z"
            fill="white" />
        </svg>
      </div>
    </div>
    <div class="training-card individual-plan">
      <!-- Card 2 content -->
      <h2>Low Carb Diet</h2>
      <div id="low-carb" class="body-part">
      </div>
    </div>
    <div class="training-card individual-plan">
      <!-- Card 2 content -->
      <h2>Bulking</h2>
      <div id="bulking" class="body-part"></div>
    </div>
    <div class="training-card individual-plan">
      <!-- Card 2 content -->
      <h2>Healthy Meal Recipes</h2>
      <div id="healthy-meal" class="body-part"></div>
    </div>
  </div>

  <!-- Leader board -->
  <div class="px-4 py-5 my-5 text-center">
    <div id="main">
      <div id="header">
        <h1>Leader Board</h1>
      </div>
      <div id="leaderboard">
        <div class="ribbon "></div>
        <table>
          <% users.forEach(function(user, index) { %>
            <tr>
              <td class="number">
                <%= index + 1 %>
              </td>
              <td class="profile-image">
                <img src="./images/<%= user._id %>" width="50" height="50" alt="Profile" />
              </td>
              <td class="name">
                <%= user.username %>
              </td>
              <td class="points">
                <%= user.points %>
                  <% if (index===0) { %>
                    <img class="gold-medal"
                      src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
                      alt="gold medal" />
                    <% } %>
              </td>
            </tr>
            <% }); %>
        </table>
        <div class="firework" id="firework1" style="top: 20%; left: 20%;"></div>
      <div class="firework" id="firework2" style="top: 40%; left: 40%;"></div>
      </div>
    </div>
  </div>

  <!-- tasks list -->
  <div class="px-4 py-5 my-5 text-center">
    <ul>

    </ul>
  </div>

  <!-- image upload success message -->
  <div class="px-4 py-5 my-5 text-center"></div>



    <!-- Footer -->
    <%- include("templates/footer") %>