<%- include("templates/header") %>
    <h1>Rank Progress</h1>
    <h2>Current Rank: <%= rank %></h2>
    <h2>Current Points: <%= points %></h2>
    <h1>Points until next rank: <%= nextRank %></h1>
<%- include("templates/footer") %>