<%- include("templates/header") %>
</head>

<div class="title" class="center">
    <img src="/img/logo.png" alt="FitUp Logo" width="250" height="250">
</div>

<div class="reset-password bg-light">
    <!-- Display error message -->
    <% if (errorMessage) { %>
        <div class="alert alert-danger resize"><h1><%= errorMessage %></h1></div>
    <% } %>
    <!-- Display success message -->
    <% if (successMessage) { %>
        <div class="alert alert-success resize"><h1><%= successMessage %></h1></div>
        <button type="button" onclick="location.href='/'" class="index-btn" style="margin-left: 10px;">Login</button>
        <br><br><br>
    <% } else { %>
        <form action="/reset-password" method="POST" class="index-form center-form">
            <input type="hidden" name="token" value="<%= token %>">
            <h1 for="newPassword" class="resize">Enter new password:</h1>
            <input type="password" id="newPassword" name="newPassword" required>
            <br>
            <h1 for="confirmNewPassword" class="resize">Confirm new password:</h1>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            <div class="button-container">
                <button type="submit" class="index-btn increased-width">Reset Password</button>
            </div>
        </form>
    <% } %>
</div>

<%- include("templates/end") %>

<style>
    .index-btn.increased-width {
        width: 200px; /* Adjust the width as per your design */
    }

    .center-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px; /* Adjust the top margin as needed */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Adjust the space between buttons */
        margin-top: 20px; /* Adjust the top margin as needed */
        margin-left: 195px;
    }
</style>
