<%- include("templates/header") %>
    <div class="reset-password bg-light">
        <!-- Display error message -->
        <% if (errorMessage) { %>
            <div class="alert alert-danger"><%= errorMessage %></div>
        <% } %>
        <!-- Display success message and login button -->
        <% if (successMessage) { %>
            <div class="alert alert-success"><%= successMessage %></div>
            <a href="/login" class="btn btn-primary">Login</a>
        <% } else { %>
          <!-- Display error message -->
            <form action="/reset-password" method="POST" class="index-form center">
                <input type="hidden" name="token" value="<%= token %>">
                <label for="newPassword">Enter new password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="confirmNewPassword">Confirm new password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
                <button type="submit" class="index-btn">Reset Password</button>
            </form>
        <% } %>
    </div>
<%- include("templates/end") %>
